*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



/* desktop view */
@media (min-width:500px) {
    
      
    #about{
        text-align: center;
        border-radius: 1em;
        width: 100%;
        margin: auto;
    } 
    #ul1{
        margin-left: 26em;
    }
    #ul1 .list1{
        display: inline-block;
        margin-top: 1em;
    
    }
    #ul1{
        display: inline-block;
    }
    #ul1 .list1 a{
        text-decoration: none;
        color: #fff;
        padding: 5px 20px;
        border: 1px solid #fff transparent;
        border-radius: 2px;
        transition: 0.6s ease;
        font-size: large;
    }
    .list1{
        display: inline-block;
    }
    #ul1 .list1 a:hover{
        background-color: white;
        color: black;
    }
    #ul1 .list1.active a{
        background-color: white;
        color: black;
    }
   
    body{
        background:linear-gradient(rgb(240, 235, 235), rgb(245, 180, 189)) ;
        position: absolute;
        
    }
   
    .Logo img{
        float: right;
        width: 113px;
        margin: -90px 50px  0 20px ;
               
        }
        #div{
            width: 50em;
            margin: auto;
            margin-top: -6em;
            text-align: center;
        }
    #vision{
        width: 50em;
        margin: auto;
        height: 25em;
        margin-top: 1em;
        text-align: center;

    
    }
    #do{
        width:50em;
        margin: auto;
        margin-top: -15em;
        height: 20em;
        text-align: center;
    
    }
    .location{
        text-align: center;
        width: 28em;
        height: 19em;
        margin: auto;
        padding-top: 10px;
        line-height: 1.3em;
        margin-top: -15em;
        
    }
    .ot{
     
        list-style: none;
      
    } 
    li:not(:last-of-type){
        margin-bottom: 1.2em;
    }
    
    #team{
        text-align: center;
        margin-bottom: 1em;
        margin-top: 2em;
    }
    .center{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 200px;
        
    }
    .para{
        text-align: center;
        margin-top: -7em;
        height: -30em;
    }

    footer{
        opacity: 0.7;
        background: #063146;
        height: 20em;
        width: 98.5vw;
        font-family: "open Sans";
        padding-top: 40px;
        color: #fff;
        margin-top: -0.1em;
    }
    .footer-content{
        display: block;
        flex-direction: row;
    }
    .footer-content h2{
        font-size: 2em;
        font-weight: 400;
        text-transform:capitalize;
        line-height: 3rem;
        margin-left: -28em;
        margin-top: -0.4em;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 20px;
        margin-left: 2em;
    }
    .footer-bottom{
        margin-left: 20em;
        margin-top: 2.8em;
    
    }
    
    #addresscontainer{
        margin-top: -15em;
        margin-left: 45em;
    }
    
    #address{
        display: flex;
        text-align: center;
        justify-content: left;
        margin: 10px 7px 0;
        max-width: 500px;
        font-size: 20px;
    }

    .social-media{
        margin: 20px 0;
        margin-left: 10em;
        margin-top: -3em;
      }
      
      .social-media a{
        color: #05b6e7;
        margin-right: 25px;
        font-size: 22px;
        text-decoration: none;
        transition: .3s linear;
      }
      
      .social-media a:hover{
        color: #fc5c65;
      }
    
    .header {
        overflow: hidden;
        background-color: #ee1cd2;
        padding: 20px 10px;
        height: 9vh;
      }
      #sidebar{
        position: absolute;
        left: -250px;
        width: 250px;
        height: 50%;
        background: #042331;
        transition: all .5s ease;
        opacity: 0.5;
        overflow: hidden;
    }
    #sidebar header{
        font-size: 22px;
        color: white;
        text-align: center;
        line-height: 70px;
        background: #063146;
        user-select: none;
    }
    #sidebar ul a{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: white;
        padding-left: 40px;
        box-sizing: border-box;
        border-top: 1px solid rgba (255, 255, 255, .1);
        border-bottom: 1px solid black;
        transition: .4s;
    }
    ul li:hover a{
        padding-left: 50px;
    }
    #sidebar ul a i{
        margin-right: 16px;
    }
    #check{
        display: none;
    }
    label #btn, label #cancel{
        position: absolute;
        cursor: pointer;
        background: #dfe7eb;
        border-radius: 3px;
    }
    label #btn{
        left: 40px;
        top: 25px;
        font-size: 35px;
        color: white;
        padding: 6px 12px;
    }
    label #cancel{
        z-index: 1111;
        left: 150px;
        top: 17px;
        font-size: 30px;
        color: #0a5275;
        padding: 4px 9px;
    }
    #check:checked ~ #sidebar{
    left: 0;
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
        }
        #check:checked ~ label #cancel{
            left: 200px;
            }
    
}
@media (min-width:800px) {

}
