body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 1em 0 1em 0;
    overflow: hidden;
    background-color: rgba(110, 119, 189, 0.817);
}
li{
    display: inline;
}
li a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 0.9em;
}
form{
    width: 600px;
    margin: 100px auto 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0  #30475e, 0 4px 8px 0 #30475e;
    background: #ff156A;
    margin-top: 2em;
    color: black;
}
h1{
    text-align: center;
}
.box1{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
}
.div1{
    display: inline-block;
}
.box2{
    padding: 10px;
    border:none ;
    border-radius: 15px;
    margin: 10px 0 15px 0;
}
.btn{
    width: 49%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    background-color:  #06f9a8;
}

footer{
    opacity: 0.7;
    background: #063146;
    height: 20em;
    width: 98.5vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: #fff;
    margin-top: 3em;
}
.footer-content{
    display: block;
  
    flex-direction: row;
}
.footer-content h2{
    font-size: 2em;
    font-weight: 400;
    text-transform:capitalize;
    line-height: 3rem;
    margin-left: 2em;
    margin-top: -0.4em;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    margin-left: 2em;
}
.footer-bottom{
    margin-left: 40em;
    margin-top:3em;

}

#addresscontainer{
    margin-top: -15em;
    margin-left: 40em;
}

#address{
    display: flex;
    text-align: center;
    justify-content: left;
    margin: 10px 7px 0;
    max-width: 500px;
    font-size: 20px;
    
}

.social-media{
    margin: 20px 0;
    margin-left: 40em;
    margin-top: -3em;
  }
  
  .social-media a{
    color: #05b6e7;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #fc5c65;
  }
  #sidebar{
    position: absolute;
    left: -250px;
    width: 250px;
    height: 75%;
    background: #042331;
    transition: all .5s ease;
    opacity: 0.5;
    overflow: hidden;
}
#sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
#sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba (255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
#sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #dfe7eb;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
}
label #cancel{
    z-index: 1111;
    left: 150px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
}
#check:checked ~ #sidebar{
left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    }
    #check:checked ~ label #cancel{
        left: 200px;
        }



.Logo img{
     float: right;
     width: 113px;
     margin: -90px 50px  0 20px ;    
     }
     .header {
        overflow: hidden;
        background-color: #ee1cd2;
        padding: 20px 10px;
        height: 8vh;
      }

@media screen and (max-width: 600px){
    body{
        padding: 20px;
    }
    form{
        width: 100%;
        box-sizing: border-box;
    }
    .div1{
        display: block;
    }
    .box2{
        width: 100%;
        box-sizing: border-box;
    }
}